# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# service worker gerado pelo Serwist
/public/sw.js
/public/sw.js.map

# misc
.DS_Store
*.pem
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# testes / temporários
/coverage
